.link {
  color: #fff;
}

.linkButton {
  color: #fff;
}

.linkButton:hover {
  color: #fff;
}

.menu {
  background-color: #17284c !important;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: none !important;
}

.logo {
  width: 22px;
}
