.container {
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  align-items: stretch;
}

.heroContainer {
  display: flex;
  align-items: center;
  flex-grow: 9;
  background: rgb(23,40,76);
  background: radial-gradient(circle, rgba(23,40,76,1) 23%, rgba(29,55,96,1) 73%);
}

.waveContainer {
  flex-grow: 1;
}

.waveImage {
  margin-top: -1px;
  width: 100%;
  max-height: 150px;
}
