.container {
  margin-top: -1px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
  align-items: stretch;
}

.heroContainer {
  display: flex;
  align-items: center;
  flex-grow: 9;
  background: #3B8BEB
}

.waveContainer {
  flex-grow: 1;
}

.waveImage {
  margin-top: -1px;
  width: 100%;
  max-height: 150px;
}
